// Footer START
footer.l-footer
  .l-footer__head
    .l-footer__msg WITH YOUR LONGEVITY
    a.c-pagetop(href="#header" data-pagetop) PAGE TOP
      //- img(src=root+imgPath+"common/icons/arrow/angle-up.svg" loading="lazy" alt='pagetop')

  .l-footer__body
    .l-footer__logo: img(src=root+imgPath+"common/siteLogo.png" loading="lazy" alt=siteName)

    //- 確認完了画面以外で表示
    unless key === 'confirm'
      //- nav.c-socialNav
        ul..c-socialNav__list
          li..c-socialNav__item: a(href=instagramUrl target="_blank") #[img(src=root+imgPath+"common/icons/brand/instagram.svg" loading="lazy" alt='instagram')]
          li..c-socialNav__item: a(href=facebookUrl target="_blank") #[img(src=root+imgPath+"common/icons/brand/facebook.svg" loading="lazy" alt='facebook')]
          li..c-socialNav__item: a(href=twitterUrl target="_blank") #[img(src=root+imgPath+"common/icons/brand/twitter.svg" loading="lazy" alt='twitter')]
          li..c-socialNav__item: a(href=lineUrl target="_blank") #[img(src=root+imgPath+"common/icons/brand/line.svg" loading="lazy" alt='line')]
          li..c-socialNav__item: a(href=youtubeUrl target="_blank") #[img(src=root+imgPath+"common/icons/brand/youtube.svg" loading="lazy" alt='youtube')]
      
    nav.c-sitemap
      
      unless key === 'mypage' || key === 'history'
        ul.c-sitemap__col
          li.c-sitemap__item: a(href=root) #[span TOP]
          li.c-sitemap__item: a(href=root+"about"+extention) #[span N2クリニックとは]
          li.c-sitemap__item: a(href=root+"stemcell"+extention) #[span 幹細胞療法]
          li.c-sitemap__item: a(href=root+"immunecell"+extention) #[span 免疫細胞療法]
          li.c-sitemap__item: a(href=root+"doctor"+extention) #[span 医師のご紹介]
        ul.c-sitemap__col
          li.c-sitemap__item: a(href=root+"about"+extention+"#access") #[span クリニックへのご案内]
          li.c-sitemap__item: a(href=root+"recruit"+extention) #[span 採用情報]
          li.c-sitemap__item: a(href=root+"news"+extention) #[span お知らせ]
          li.c-sitemap__item: a(href=root+"faq"+extention) #[span ご質問集]
          li.c-sitemap__item: a(href=root+"privacy"+extention) #[span プライバシー]
      
      if key === 'mypage' || key === 'history'
        ul.c-sitemap__col
          li.c-sitemap__item: a(href=root) #[span サイトTOPへ]
          li.c-sitemap__item: a(href=root+"privacy"+extention) #[span プライバシー]
        .u-t-c
          .c-text.u-mb-m N2 CLINIC GINZA
          .c-text.-s 住所：東京都中央区銀座6丁目6-5 HULIC  #[br.u-show-sp]&New GINZA NAMIKI6 11階 #[br]電話：03-3289-0202 #[br]Mail： #[a(href="mailto:info@n2clinic-ginza.com") info@n2clinic-ginza.com]
        
      //- nav.l-footer-navi
        ul.l-footer-navi__list
          //- li.l-footer-navi__item: a(href=root+"terms"+extention) 利用規約
          li.l-footer-navi__item: a(href=root+"privacy"+extention) プライバシーポリシー
          //- li.l-footer-navi__item: a(href=root+"company"+extention) 運営会社情報
          li.l-footer-navi__item: a(href=root+"contact"+extention) お問い合わせ

  .c-copyright #{copyright}
  //- .l-footer-copyright #[span ©] #{copyright}
// /Footer END