header#header.l-header(data-sticky-header)
  .l-header__inner
    if useLogoH1 === true
      h1.l-header__logo
        a(href=root+"")
          img(src=root+imgPath+"common/siteLogo.png" alt=siteName)
    else
      .l-header__logo
        a(href=root+"")
          img(src=root+imgPath+"common/siteLogo.png" alt=siteName)

    .l-header__left
      button.c-hamburger(
        type="button"
        data-nav-toggle="globalNav"
        aria-controls="globalNav"
        aria-expanded="false"
      )
        span.c-hamburger__line
        span.c-hamburger__line
        span.c-hamburger__line
        .c-hamburger__label Menu

    //- unless key === 'confirm'
    .l-header__right
      .u-d-flex
        a.c-btn-contact(href=root+"reserve"+extention) ご予約
        button.c-btn-contact( type="button" data-nav-toggle="contactNav" aria-controls="contactNav" aria-expanded="false") お問い合わせ
      .c-lang#custom_trans_bar(data-stt-langbar)
        button.c-lang__btn(type="button" data-stt-changelang="ja" data-stt-ignore) JPN 
        button.c-lang__btn(type="button" data-stt-changelang="en" data-stt-ignore) ENG
        button.c-lang__btn(type="button" data-stt-changelang="zh-CN" data-stt-ignore) CHN 
        button.c-lang__btn(type="button" data-stt-changelang="vi" data-stt-ignore) VNM

//- globalNav
//- ==============
nav.c-globalNav.-center#globalNav
  .c-globalNav__head
    button.c-globalNav__close(type="button" aria-controls="globalNav" aria-label="Close menu" data-nav-close="globalNav")
      i.c-icon.-close
      //- img.c-icon.-m(src=root+imgPath+"icons/ui/x.svg" loading="lazy" alt="閉じる")
    .c-globalNav__title
        img(src=root+imgPath+"common/siteLogo.png" alt=siteName)
  .c-globalNav__body(data-nav-body="globalNav")
    ul.c-globalNav__col
      li.c-globalNav__item
        a(class=(key === 'home') ? "is-current" : "" href=root+"") #[span TOP]
      li.c-globalNav__item
        a(class=(key === 'login') ? "is-current" : "" href=root+"") #[span 会員ログイン]
      li.c-globalNav__item
        a(class=(key === 'stemcell') ? "is-current" : "" href=root+"stemcell"+extention) #[span 幹細胞療法]
      li.c-globalNav__item
        a(class=(key === 'immunecell') ? "is-current" : "" href=root+"immunecell"+extention) #[span 免疫細胞療法]
      li.c-globalNav__item
        a(class=(key === 'about') ? "is-current" : "" href=root+"about"+extention) #[span N2クリニックとは]
      li.c-globalNav__item
        a(class=(key === 'doctor') ? "is-current" : "" href=root+"doctor"+extention) #[span 医師のご紹介]
      li.c-globalNav__item
        a(class=(key === 'news') ? "is-current" : "" href=root+"news"+extention) #[span お知らせ]
      li.c-globalNav__item
        a(class=(key === 'recruit') ? "is-current" : "" href=root+"recruit"+extention) #[span 採用情報]
      li.c-globalNav__item
        a(class=(key === 'faq') ? "is-current" : "" href=root+"faq"+extention) #[span ご質問集]
      
  .c-globalNav__foot
    ul.c-globalNav__col
      li.c-globalNav__item
        a.u-jc-c(class=(key === 'reserve') ? "is-current" : "" href=root+"reserve"+extention) #[span ご予約]
      li.c-globalNav__item
        a.u-jc-c(class=(key === 'inquiry') ? "is-current" : "" href=root+"inquiry"+extention) #[span お問い合わせ]

//- contactNav
//- ==============
nav.c-globalNav.-center#contactNav
  .c-globalNav__head
    button.c-globalNav__close(type="button" aria-controls="contactNav" aria-label="Close menu" data-nav-close="contactNav")
      i.c-icon.-close
      //- img.c-icon.-m(src=root+imgPath+"icons/ui/x.svg" loading="lazy" alt="閉じる")
    //- .c-heading.-h3.u-pl-l お問い合わせ

  .c-globalNav__body(data-nav-body="contactNav")
    .c-text.u-t-c.u-mb-m クライアントアドバイザーが#[br]ご相談を承ります。
    ul.c-globalNav__col.u-mb-l
      //- li.c-globalNav__item
        .c-text.u-mt-l.u-mb-0 フォームでのお問い合わせ
        a.u-pt-0(href=root+"inquiry"+extention) #[img.c-icon(src=root+imgPath+"icons/social/mail.svg" loading="lazy" alt="mail")] #[span お問い合わせフォーム]
      li.c-globalNav__item
        .c-text.u-mt-l.u-mb-0 お電話でのお問い合わせ
        a.u-pt-0(href="tel:0335610202") #[i.c-icon.-phone] #[span 03-3289-0202]
      li.c-globalNav__item
        .c-text.u-mt-l.u-mb-0 メールでのお問い合わせ
        a.u-pt-0(href=root+"inquiry"+extention) #[i.c-icon.-mail] #[span info@n2clinic-ginza.com]
      //- li.c-globalNav__item
        .c-text.u-mt-l.u-mb-0 LINEでのお問い合わせ
        a.u-pt-0(href="") #[img.c-imgIcon(src=root+imgPath+"icons/brand/line.svg" loading="lazy" alt="line")] #[span LINE]

    .c-text.u-mb-m お困りですか？
    ul.c-globalNav__col
      li.c-globalNav__item
        a(href=root+"faq"+extention) #[span ご質問集]
 

  //- .c-globalNav__foot
    ul.c-globalNav__col
      li.c-globalNav__item
        a(class=(key === 'reserve') ? "is-current" : "" href=root+"") #[span ご予約]
      li.c-globalNav__item
        a(class=(key === 'contact') ? "is-current" : "" href=root+"") #[span お問い合わせ]