//-================================================
//- サイト共通設定
//-================================================
include _includes/_foundation/_global

//- block vars
//---------------
//- ページ設定
//---------------
- var root = './' // ルートパスの指定
- var key = 'account' // 条件分岐に使用
- var useNoindex = true // noindexの有無
- var useOgp = false // OGPの有無
- var useAnalytics = true // GAタグの有無
- var useLogoH1 = false // ロゴにh1を使うか
- var useBreadcrumb = false // パンくずを使うか

//---------------
//- 構造化データ設定
//---------------
- var useSchemaWebSite = false
- var useSchemaWebPage = false
- var useSchemaOrganization = false
- var useSchemaBreadcrumb = false
- var useSchemaArticle = false
- var useSchemaFAQ = false

//---------------
//- ページメタ情報
//---------------
- var pageTitle = 'マイページ｜N2クリニック'
- var pageDescription = 'N2クリニックの会員専用マイページです。ご予約内容の確認・変更や各種情報の管理を行えます。'
- var pageKeywords = 'N2クリニック, マイページ, 会員ページ, ご予約確認, 情報変更'
- var pageOgUrl = ''
- var pageOgTitle = pageTitle
- var pageOgDescription = pageDescription
- var pageOgImage = ''
//---------------
//- パンくず設定
//---------------
- var pageSlug= "account" // ページのスラッグ※末尾に「/」必須
- var parentSlug= "" // ページが3階層目の場合、親ページのスラッグ
- var parentTitle= "" // ページが3階層目の場合、親ページの名前

//- ===================================================
//-  ███████╗████████╗ █████╗ ███████╗ ████████╗
//-  ██╔════╝╚══██╔══╝██╔══██╗██╔═══██╗╚══██╔══╝
//-  ███████╗   ██║   ███████║███████╔╝   ██║
//-  ╚════██║   ██║   ██╔══██║██╔═██║     ██║
//-  ███████║   ██║   ██║  ██║██║ ███║    ██║
//-  ╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝ ╚══╝    ╚═╝
//- ===================================================
doctype html
html(lang='ja')
  head
    include _includes/_head
    //---------------------------------
    //- UNIQUE CSS　ページ独自に使用するスタイル
    //---------------------------------
    block append css
      link(href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet")
      link(rel='stylesheet' href=root+cssPath+'main.css?ver=1.0.0' type='text/css' media='all')
    include _includes/_foundation/_schema
    include _includes/_trackingTag_head
  body.p-account
    include _includes/_trackingTag_body
    .l-wrapper
      //- include _includes/_header
      //- include _includes/_component/_breadcrumb
      header.l-header.p-mypage-header
        h1.c-heading.-section.u-mb-m アカウント情報
        .p-mypage-header__back.u-t-c
          a(href=root+"mypage"+extention) #[i.c-icon.-back]マイページに戻る

      main.l-main.u-anim-fadeIn
        //-================================================
        //- ARTICLE START
        //-================================================
        // Article START
        article.l-page
          .l-page__body
            section.l-section.-xxs
              .l-inner.-xxs
                .c-text.u-mb-l 登録内容をご確認いただけます。#[br]内容を変更する場合は、下の「アカウント情報変更」ボタンを押してください。

                

                form(method="post" action=root+"reserve-confirm"+extention enctype="multipart/form-data")
                  .c-form
                    // サムネ
                    .c-form__item
                      .c-avatar.u-mx-auto
                        img(src=root+imgPath + 'common/noimage.jpg', alt='ユーザー画像')
                      //- .c-form__body
                        input.c-form__input(type="text" id="name" name="name" value="HANAKO YAMADA" autocomplete="name" readonly hidden)

                    // 名前（フルネーム版）
                    .c-form__item
                      .c-form__label お名前
                        span.c-text.-small.u-m-0 (ローマ字)
                        //- span.c-form__require ＊
                      .c-form__body
                        input.c-form__input(type="text" id="name" name="name" value="HANAKO YAMADA" autocomplete="name" readonly)


                    // メールアドレス
                    .c-form__item
                      .c-form__label メールアドレス
                        //- span.c-form__require ＊
                      .c-form__body
                        input.c-form__input(type="email" id="email" name="email" value="yourname@example.com" autocomplete="email" readonly)


                    // パスワード
                    .c-form__item
                      .c-form__label パスワード
                      .c-form__body
                        input.c-form__password.u-fz-l( type="password" id="password" name="password" value="123abc" autocomplete="current-password" readonly data-password-input)
                        button.c-form__pwToggle(type="button" aria-label="パスワード表示切替" data-password-toggle)

                        
                    // 電話番号
                    .c-form__item
                      .c-form__label お電話番号
                        //- span.c-form__require ＊
                      .c-form__body
                        input.c-form__input(type="tel" id="tel" name="tel" value="+8190-1234-5678" autocomplete="tel" maxlength="13" readonly)
                    
                    
                    // 生年月日
                    .c-form__item
                      .c-form__label 生年月日
                        //- span.c-form__require ＊
                      .c-form__body
                        input.c-form__input(type="text" id="birthday" name="birthday" value="1990/01/01" readonly)


                    
 
                  // 送信ボタン
                  .c-btnBox.u-gap-l.u-my-l
                    a.c-btn.-primary.u-w-full(href=root+"account-edit"+extention) アカウント情報を変更する
                  .c-note.u-t-c ※電話番号・メールアドレス・パスワードを変更できます。



        //-================================================
        //- Article END
        //-================================================
        // Article END
      //- include _includes/_sidebar
      //- include _includes/_component/_floatbox
      //- include _includes/_footer
    //- include _includes/_script
    //---------------------------------
    //- UNIQUE SCRIPT　ページ独自に使用するJS
    //---------------------------------
    block append js
      script(src=root+jsPath + "main.js?ver=1.0.0")
      script(src=root+jsPath + "form.js?ver=1.0.0")