//-================================================
//- サイト共通設定
//-================================================
include _includes/_foundation/_global

//- block vars
//---------------
//- ページ設定
//---------------
- var root = './' // ルートパスの指定
- var key = 'mypage' // 条件分岐に使用
- var useNoindex = true // noindexの有無
- var useOgp = false // OGPの有無
- var useAnalytics = true // GAタグの有無
- var useLogoH1 = false // ロゴにh1を使うか
- var useBreadcrumb = false // パンくずを使うか

//---------------
//- 構造化データ設定
//---------------
- var useSchemaWebSite = false
- var useSchemaWebPage = false
- var useSchemaOrganization = false
- var useSchemaBreadcrumb = false
- var useSchemaArticle = false
- var useSchemaFAQ = false

//---------------
//- ページメタ情報
//---------------
- var pageTitle = 'マイページ｜N2クリニック'
- var pageDescription = 'N2クリニックの会員専用マイページです。ご予約内容の確認・変更や各種情報の管理を行えます。'
- var pageKeywords = 'N2クリニック, マイページ, 会員ページ, ご予約確認, 情報変更'
- var pageOgUrl = ''
- var pageOgTitle = pageTitle
- var pageOgDescription = pageDescription
- var pageOgImage = ''
//---------------
//- パンくず設定
//---------------
- var pageSlug= "mypage" // ページのスラッグ※末尾に「/」必須
- var parentSlug= "" // ページが3階層目の場合、親ページのスラッグ
- var parentTitle= "" // ページが3階層目の場合、親ページの名前

//- ===================================================
//-  ███████╗████████╗ █████╗ ███████╗ ████████╗
//-  ██╔════╝╚══██╔══╝██╔══██╗██╔═══██╗╚══██╔══╝
//-  ███████╗   ██║   ███████║███████╔╝   ██║
//-  ╚════██║   ██║   ██╔══██║██╔═██║     ██║
//-  ███████║   ██║   ██║  ██║██║ ███║    ██║
//-  ╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝ ╚══╝    ╚═╝
//- ===================================================
doctype html
html(lang='ja')
  head
    include _includes/_head
    //---------------------------------
    //- UNIQUE CSS　ページ独自に使用するスタイル
    //---------------------------------
    block append css
      link(href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet")
      link(rel='stylesheet' href=root+cssPath+'main.css?ver=1.0.0' type='text/css' media='all')
    include _includes/_foundation/_schema
    include _includes/_trackingTag_head
  body.p-mypage
    include _includes/_trackingTag_body
    .l-wrapper
      //- include _includes/_header
      //- include _includes/_component/_breadcrumb
      header.l-header.p-mypage-header
        .p-mypage-header__logo
          a(href=root+"mypage"+extention)
            img(src=root+imgPath+"common/logo-ginza.png" alt=siteName)
        .p-mypage-header__menu
          a(href=root+"inquiry"+extention) お問い合わせ

      nav.p-mypage-menu.c-globalNav.-center#contactNav
        .c-globalNav__head
          button.c-globalNav__close(type="button" aria-controls="contactNav" aria-label="Close menu" data-nav-close="contactNav")
            i.c-icon.-close
        .c-globalNav__body(data-nav-body="contactNav")
          h3.c-heading.-h4.u-mb-l ご予約の変更・キャンセルについて（必ずご一読ください）
          .c-text 当院では、患者さまごとに 投与スケジュールに合わせて細胞を凍結・解凍 しております。
          .c-text そのため―― #[br]直前の変更やキャンセルが生じると、準備済みの細胞を破棄せざるを得ない場合があります。#[br]細胞は貴重な医療資源であり、他の患者さまの治療機会にも影響いたします。ご予約の変更・キャンセルは「必ず事前に」下記窓口までご連絡ください。
          ul.c-globalNav__col.u-mb-l
            li.c-globalNav__item
              .c-text.u-mt-l.u-mb-0 お電話でのお問い合わせ#[br]（受付時間 10:00〜18:30／休診日を除く）
              a.u-pt-0(href="tel:0335610202") #[i.c-icon.-phone] #[span 03-3289-0202]
            li.c-globalNav__item
              .c-text.u-mt-l.u-mb-0 メールでのお問い合わせ
              a.u-pt-0(href=root+"inquiry"+extention) #[i.c-icon.-mail] #[span info@n2clinic-ginza.com]
            //- li.c-globalNav__item
              .c-text.u-mt-l.u-mb-0 LINEでのお問い合わせ
              a.u-pt-0(href="") #[img.c-imgIcon(src=root+imgPath+"icons/brand/line.svg" loading="lazy" alt="line")] #[span LINE]
          .c-text ご理解とご協力のほど、よろしくお願い申し上げます。
      main.l-main.u-anim-fadeIn
        //-================================================
        //- ARTICLE START
        //-================================================
        // Article START
        article.l-page
          // Heroセクション
          .l-page__head
            //- h1.l-page__title 会員様マイページ
            .l-page__sub WELCOME TO N2 ClINIC GINZA
          .l-page__body
            section.l-section.-xxs

              .l-inner.-xxs
                // ユーザー情報
                .p-mypage__user
                  .c-avatar 
                    img(src=root+imgPath + 'common/noimage.jpg', alt='ユーザー画像')
                  .p-mypage__info
                    .p-mypage__name Hanako Yamada
                    .p-mypage__info user123@gmail.com
                    .c-tag.-primary 本人確認済

                // アカウント情報ボタン
                .p-mypage__button
                  a.c-btn.-outline.-pill(href=root+"account"+extention) アカウント情報


            section.l-section.-xxs
              .l-inner.-s
                h2.c-heading.-h4.u-t-c.u-mb-m 予約確認

                .p-mypage-reserve
                  .p-mypage-reserve__item
                    .p-mypage-reserve__status
                      .c-tag.-danger 本日ご予約あり
                      .c-tag.-info 予約確定
                    dl.p-mypage-reserve__data
                      dt 日にち：
                      dd 2025年8月1日（金）
                      dt 時間：
                      dd 10:30〜
                      dt 施術名：
                      dd 免疫細胞療法カウンセリング
                    .c-btnBox
                      button.c-btn.-underline.u-mx-auto(type="button" data-nav-toggle="contactNav" aria-controls="contactNav" aria-expanded="false") 変更をご希望の場合はこちら
                  
                  .p-mypage-reserve__item
                    .p-mypage-reserve__status
                      .c-tag.-info 予約確定
                    dl.p-mypage-reserve__data
                      dt 日にち：
                      dd 2025年8月1日（金）
                      dt 時間：
                      dd 10:30〜
                      dt 施術名：
                      dd 免疫細胞療法カウンセリング
                    .c-btnBox
                      button.c-btn.-underline.u-mx-auto(type="button" data-nav-toggle="contactNav" aria-controls="contactNav" aria-expanded="false") 変更をご希望の場合はこちら

                a.c-btn.-primary.u-w-full(href=root+"reserve-repeat"+extention) 予約する


                h2#count.c-heading.-h4.u-t-c.u-my-m 残り投与回数
                .p-mypage-info
                  dl.p-mypage-info__data
                    dt 幹細胞
                    dd #[span 残り#[b 10]/11回] #[.p-progress(data-max="11" data-value="10")]
                    dt 免疫細胞
                    dd #[span 残り#[b 4]/11回] #[.p-progress(data-max="11" data-value="4")]

                h2#limit.c-heading.-h4.u-t-c.u-my-m 細胞保管期間
                .p-mypage-info
                  dl.p-mypage-info__data
                    dt 幹細胞
                    dd 10本　2026年4月10日まで（残り290日）
                    dt 免疫細胞
                    dd  3本　2026年4月15日まで（残り285日）

                

        //-================================================
        //- Article END
        //-================================================
        // Article END
      //- include _includes/_sidebar
      //- include _includes/_component/_floatbox
      include _includes/_footer
    //- include _includes/_script
    //---------------------------------
    //- UNIQUE SCRIPT　ページ独自に使用するJS
    //---------------------------------
    block append js
      script(src=root+jsPath + "main.js?ver=1.0.0")