//-================================================
//- サイト共通設定
//-================================================
include _includes/_foundation/_global

//- block vars
//---------------
//- ページ設定
//---------------
- var root = './' // ルートパスの指定
- var key = 'news' // 条件分岐に使用
- var useNoindex = false // noindexの有無
- var useOgp = true // OGPの有無
- var useAnalytics = true // GAタグの有無
- var useLogoH1 = false // ロゴにh1を使うか
- var useBreadcrumb = true // パンくずを使うか

//---------------
//- 構造化データ設定
//---------------
- var useSchemaWebSite = true
- var useSchemaWebPage = true
- var useSchemaOrganization = true
- var useSchemaBreadcrumb = true
- var useSchemaArticle = false
- var useSchemaFAQ = false

//---------------
//- ページメタ情報
//---------------
- var pageTitle = 'お知らせ一覧'
- var pageDescription = 'N2クリニックからのお知らせ一覧ページです。最新情報・休診日・新着情報などをご案内しています。'
- var pageKeywords = 'お知らせ,ニュース,N2クリニック,新着情報'
- var pageOgUrl = '' // ページ公開後にURLを指定
- var pageOgTitle = pageTitle + '｜N2クリニック'
- var pageOgDescription = pageDescription
- var pageOgImage = '' // OGP画像があれば指定

//---------------
//- パンくず設定
//---------------
- var pageSlug= "news" // ページのスラッグ※末尾に「/」必須
- var parentSlug= "" // ページが3階層目の場合、親ページのスラッグ
- var parentTitle= "" // ページが3階層目の場合、親ページの名前

//- ===================================================
//-  ███████╗████████╗ █████╗ ███████╗ ████████╗
//-  ██╔════╝╚══██╔══╝██╔══██╗██╔═══██╗╚══██╔══╝
//-  ███████╗   ██║   ███████║███████╔╝   ██║
//-  ╚════██║   ██║   ██╔══██║██╔═██║     ██║
//-  ███████║   ██║   ██║  ██║██║ ███║    ██║
//-  ╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝ ╚══╝    ╚═╝
//- ===================================================
doctype html
html(lang='ja')
  head
    include _includes/_head
    //---------------------------------
    //- UNIQUE CSS　ページ独自に使用するスタイル
    //---------------------------------
    block append css
      link(href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet")
      link(rel='stylesheet' href=root+cssPath+'main.css?ver=1.0.0' type='text/css' media='all')
    //---------------------------------
    //- SCHEMA　構造化データの呼び出し
    //---------------------------------
    include _includes/_foundation/_schema
    //---------------------------------
    //- 計測タグ（head）の呼び出し
    //---------------------------------
    include _includes/_trackingTag_head
  body.p-news
    //---------------------------------
    //- 計測タグ（body）の呼び出し
    //---------------------------------
    include _includes/_trackingTag_body
    .l-wrapper
      include _includes/_header
      include _includes/_component/_breadcrumb
      main.l-main.u-anim-fadeIn
        //-================================================
        //- ARTICLE START
        //-================================================
        // Article START
        article.l-page
          // Heroセクション
          .l-page__head
            h1.l-page__title お知らせ一覧
            .l-page__sub NEWS ARCHIVE
            //- .l-page__intro #{siteName}のプライバシーポリシーのページです。個人情報保護に関するスタンスをこちらに掲載しております。
          .l-page__body
            section.l-section.-s
              .l-inner.-l
                //-================================================
                //- お知らせデータ定義（仮データ）
                - var newsData = [{ href: root + 'news-detail' + extention, thumb: 'noimage.jpg', date: '2025年1月11日', title: 'タイトルが入ります' },{ href: root + 'news-detail' + extention, thumb: 'noimage.jpg', date: '2025年1月11日', title: 'タイトルが入ります' },{ href: root + 'news-detail' + extention, thumb: 'noimage.jpg', date: '2025年1月11日', title: 'タイトルが入ります' },{ href: root + 'news-detail' + extention, thumb: 'noimage.jpg', date: '2025年1月11日', title: 'タイトルが入ります' },{ href: root + 'news-detail' + extention, thumb: 'noimage.jpg', date: '2025年1月11日', title: 'タイトルが入ります' },{ href: root + 'news-detail' + extention, thumb: 'noimage.jpg', date: '2025年1月11日', title: 'タイトルが入ります' },{ href: root + 'news-detail' + extention, thumb: 'noimage.jpg', date: '2025年1月11日', title: 'タイトルが入ります' }]
                //-================================================
                //- レンダリング部（3列レイアウト例）
                ul.c-articleList.-card.-col-3.u-mb-xl
                  each article in newsData
                    li.c-articleList__item
                      a.c-articleList__link(href=root+"news_detail"+extention)
                      figure.c-articleList__thumb
                        img(src=root + imgPath + 'common/' + article.thumb, alt='お知らせサムネイル')
                      .c-articleList__body
                        .c-articleList__date
                          time(datetime=article.date)= article.date
                        .c-articleList__title= article.title
                        .c-btn.-underline 詳しく見る
                include _includes/_component/_pagination

            section.l-section.-xs(data-inview="slideUp")
              .l-inner
                .c-btnBox.u-fd-col
                  a.c-btn.-underline.u-mb-l(href=root+"inquiry"+extention) お問い合わせ
                  a.c-btn.-underline(href=root+"faq"+extention) よくある質問


        //-================================================
        //- Article END
        //-================================================
        // Article END
      //- include _includes/_sidebar
      include _includes/_component/_floatbox
      include _includes/_footer
    //- include _includes/_script
    //---------------------------------
    //- UNIQUE SCRIPT　ページ独自に使用するJS
    //---------------------------------
    block append js
      script(src=root+jsPath + "main.js?ver=1.0.0")
