//-================================================
//- サイト共通設定
//-================================================
include _includes/_foundation/_global

//- block vars
//---------------
//- ページ設定
//---------------
- var root = './' // ルートパスの指定
- var key = 'recruit' // 条件分岐に使用（ページ固有のkey）
- var useNoindex = false // noindexの有無
- var useOgp = true // OGPの有無
- var useAnalytics = true // GAタグの有無
- var useLogoH1 = false // ロゴにh1を使うか
- var useBreadcrumb = true // パンくずを使うか

//---------------
//- 構造化データ設定
//---------------
- var useSchemaWebSite = true
- var useSchemaWebPage = true
- var useSchemaOrganization = true
- var useSchemaBreadcrumb = true
- var useSchemaArticle = false
- var useSchemaFAQ = false

//---------------
//- ページメタ情報
//---------------
- var pageTitle = '採用情報'
- var pageDescription = 'N2クリニックの採用情報ページです。看護師・受付スタッフを募集しています。'
- var pageKeywords = '採用情報,求人,看護師,受付,N2クリニック'
- var pageOgUrl = ''
- var pageOgTitle = pageTitle + '｜N2クリニック'
- var pageOgDescription = pageDescription
- var pageOgImage = ''

//---------------
//- パンくず設定
//---------------
- var pageSlug= "recruit"
- var parentSlug= ""
- var parentTitle= ""

//- ===================================================
//-  ███████╗████████╗ █████╗ ███████╗ ████████╗
//-  ██╔════╝╚══██╔══╝██╔══██╗██╔═══██╗╚══██╔══╝
//-  ███████╗   ██║   ███████║███████╔╝   ██║
//-  ╚════██║   ██║   ██╔══██║██╔═██║     ██║
//-  ███████║   ██║   ██║  ██║██║ ███║    ██║
//-  ╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝ ╚══╝    ╚═╝
//- ===================================================
doctype html
html(lang='ja')
  head
    include _includes/_head
    //---------------------------------
    //- UNIQUE CSSページ独自に使用するスタイル
    //---------------------------------
    block append css
      link(href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet")
      link(rel='stylesheet' href=root+cssPath+'main.css?ver=1.0.0' type='text/css' media='all')

    //---------------------------------
    //- SCHEMA構造化データの呼び出し
    //---------------------------------
    include _includes/_foundation/_schema
    //---------------------------------
    //- 計測タグ（head）の呼び出し
    //---------------------------------
    include _includes/_trackingTag_head
  body.p-recruit
    //---------------------------------
    //- 計測タグ（body）の呼び出し
    //---------------------------------
    include _includes/_trackingTag_body
    .l-wrapper
      include _includes/_header
      include _includes/_component/_breadcrumb
      main.l-main.u-anim-fadeIn
        //-================================================
        //- ARTICLE START
        //-================================================
        // Article START
        article.l-page

          // ヒーローセクション
          .l-page__head
            h1.l-page__title 採用情報
            .l-page__sub SHAPE THE FUTURE
            figure.l-page__kv
              img(src=root+imgPath+"recruit/recruit-kv.jpg" alt="採用情報メインビジュアル" loading="lazy")

          .l-page__body
            // リード文
            section.l-section.-xs
              .l-inner.u-t-c
                h2.c-heading.-h2.u-mb-l 私たちの仕事は#[br.u-hide-pc.u-hide-tab]未来を再生すること
                .c-text 再生医療の現場で、医療の未来を共に築きませんか？
                .c-text 私たちは、幹細胞療法や免疫細胞療法による再生医療のほか、#[br.u-hide-sp]各種美容施術や点滴などを提供しています。
                .c-text 未来の医療である「再生医療」の現場に、あなたのスキルと情熱を活かしませんか？#[br.u-hide-sp]私たちは患者様の生活を再生し、希望を届けるために共に働ける仲間を探しています。
                .c-text 技術や経験はもちろん、何より「医療の可能性を信じ、成長したい」という意欲を重視します。

            // 募集要項
            section.l-section.p-recruit-info
              .l-inner.-l
                h2.c-heading.-section 募集要項

                // 1段目：看護師
                .p-recruit-info__block.u-mb-xl
                  .p-recruit-info__image
                    img(src=root+imgPath+"recruit/recruit-2-1.jpg" alt="看護師募集イメージ" loading="lazy")
                  .p-recruit-info__text
                    h3.c-heading.-h3 看護師（正社員）
                    table.p-recruit-info__table
                      tr
                        th 応募資格
                        td 正看護師・准看護師 臨床経験3年以上
                      tr
                        th 歓迎スキルや経験
                        td 再生医療や美容外科の未経験者も歓迎
                      tr
                        th 試用期間（研修含）
                        td 6ヵ月
                      tr
                        th 給与
                        td スキルやご経験に応じて相談

                // 2段目：受付
                .p-recruit-info__block.-reverse
                  .p-recruit-info__image
                    img(src=root+imgPath+"recruit/recruit-2-2.jpg" alt="受付募集イメージ" loading="lazy")
                  .p-recruit-info__text
                    h3.c-heading.-h3 受付（正社員）
                    table.p-recruit-info__table
                      tr
                        th 応募資格
                        td 経験3年以上
                      tr
                        th 歓迎スキルや経験
                        td 英語必須#[br]再生医療や美容外科の未経験者も歓迎
                      tr
                        th 試用期間（研修含）
                        td 6ヵ月
                      tr
                        th 給与
                        td スキルやご経験に応じて相談
                  


            // 会社情報
            section.l-section.p-recruit-company(data-inview="slideUp")
              .l-inner.-s
                h2.c-heading.-section 会社情報
                p.c-text.-center N2クリニック銀座本院は「再生医療で誇れる未来を創造する」を企業理念に、#[br.u-hide-sp]東京都心から最先端の医療を提供しております。

                h3.c-heading.-h4 【会社概要】
                dl.p-recruit-company__info
                  dt 会社名
                  dd 一般社団法人 N2 CELL ACT
                  dt 所在地
                  dd 〒104-0061 東京都中央区銀座6丁目6-5 HULIC &New GINZA NAMIKI6 11階
                  dt 代表者
                  dd 藤原　彰子
                  dt 事業内容
                  dd 再生医療クリニック運営、細胞培養・研究開発
                  dt URL
                  dd #[a(href="https://n2cellact.or.jp/" target="_blank") https://n2cellact.or.jp/]

                .c-divider
                h3.c-heading.-h4 【アクセス】
                dl.p-recruit-company__access
                  dt ■ 住所
                  dd 東京都中央区銀座6丁目6-5 HULIC &New GINZA NAMIKI6 11階
                  dt ■ 最寄り駅
                  dd 東京メトロ銀座線「銀座駅」A5出口 徒歩4分
                  dt ■ バス
                  dd 都営バス「銀座中央」下車 徒歩2分

                figure.c-map.-spClassic.u-w-edge-sp.u-mb-l
                  iframe(
                  width='100%' 
                  height='400px' 
                  src='https://api.mapbox.com/styles/v1/virtuoso-sac/cmahi93pr00w301si5be6gygt.html?title=false&access_token=pk.eyJ1IjoidmlydHVvc28tc2FjIiwiYSI6ImNtYWV4NzZyYTBjeXkycW9jeDE0aGsya2YifQ.adiUxTYrVMG6PJ5MpCDlBQ&zoomwheel=false#15/35.6708/139.7638' 
                  title='N2clinic_ginza' 
                  style='border:none;'
                )

                .c-divider
                h3.c-heading.-h4 【お問い合わせ】
                .c-text ■採用や見学に関するお問い合わせは#[a(href="https://n2clinic.jp/inquiry" target="_blank") こちら]
                //- dl.p-recruit-company__contact
                  dt 採用や
                  dd recruit@n2clinic.jp
                  dt 問合せフォーム
                  dd #[a(href="https://n2clinic.jp/inquiry" target="_blank") https://n2clinic.jp/inquiry]
                  


            //- section.l-section.-xs(data-inview="slideUp")
              .l-inner
                .c-btnBox.u-fd-col
                  a.c-btn.-underline.u-mb-l(href=root+"inquiry"+extention) お問い合わせ
                  a.c-btn.-underline(href=root+"faq"+extention) よくある質問



        //-================================================
        //- Article END
        //-================================================
        // Article END
      //- include _includes/_sidebar
      include _includes/_component/_floatbox
      include _includes/_footer
    //- include _includes/_script
    //---------------------------------
    //- UNIQUE SCRIPTページ独自に使用するJS
    //---------------------------------
    block append js
      script(src=root+jsPath + "main.js?ver=1.0.0")
