if useBreadcrumb
  nav.c-breadcrumb
    ol.c-breadcrumb__list
      li.c-breadcrumb__item
        a(href=siteUrl) #[i.c-icon.-home]
        //- a(href=siteUrl) トップページ
      unless parentSlug
        li.c-breadcrumb__item
          a(href=siteUrl+pageSlug) #{pageTitle}
      else
        li.c-breadcrumb__item
          a(href=siteUrl+parentSlug) #{parentTitle}
        li.c-breadcrumb__item
          a(href=siteUrl+pageSlug) #{pageTitle}
